<div class="row">

  {{#each episodes as |episode|}}
    <div class="col-3 mb-3">
      <div class="card">
        <img src="{{ episode.image.medium }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ episode.name }}</h5>
          <p class="card-text">S{{episode.season}}E{{episode.number}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>